{% extends "headfoot.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="contact_head">
            <span>About</span> <span style="color: rgb(28, 240, 28);">US</span>
        </div>
        <div class="container m-5"></div>
        <div class="col-md-8 text-center about_details">
                <p class="about">BestDeal.com is the Middle East's first car buying service, which offers FREE and instant online car valuation, 
                    FREE car inspection, a GUARANTEE to purchase ANY car within 30 minutes, pay you immediately and take care of all the paperwork. 
                    Whatever the make, model, age or condition - BestDeal.com will buy any car. How do we do it? Well, as the largest and most 
                    established buyer of cars, BestDeal.com has the purchasing power to offer a competitive price for your car 
                    and to buy it straight away. With branches all over the country, BestDeal.com is the easiest and quickest way to sell your car.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel unde vero incidunt eos aliquam exercitationem ipsa laboriosam maiores. 
                    Quis repellat facere vel fugiat nostrum placeat debitis eligendi beatae iste ex!</p>
        </div>
    </div>
{% endblock %}