{% extends "headfoot.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="contact_head">
            <span>Contact</span> <span style="color: rgb(28, 240, 28);">US</span>
        </div>
        <div class="container m-5"></div>
        <img src="../static/images/contact_car_pic.png" alt="" class="contact_image">
        <img src="../static/images/contact_car_pic_2.png" alt="" class="contact_image_2">
        <div class="col-md-6 m-auto text-center contact_details">
                <p class="contact_no">Service Hotline:  <a href="">04-22323144</a></p>
                <p class="contact_email">Email Address:  <a href="">info@bestdeal.com</a></p>
                <p class="contact_email">Also visit us on -</p>
                <ul type="none" class="contact_social row ">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul> 
        </div>
    </div>
{% endblock %}