{% extends "headfoot.html" %}
{% load static %}
{% block content %}
{% if status %}
<script>
    alert('{{status}}')
</script>
{% endif %}
<div class="container-fluid" style="padding-top:50px;">
    <div class="row">
        <ul type="none" class="side-menu">
            <li class="col-md-3">
                <a href="{% url 'dashboard' %}" class="nav-link btn">My Profile</a>
            </li>
            <li class="col-md-3">
                <a href="{% url 'edit-prof' %}" class="nav-link btn">Edit Profile</a>
            </li>
            <li class="col-md-3">
                <a href="{% url 'cpass' %}" class="nav-link btn">Change Password</a>
            </li>
            <li class="col-md-3 col-6 nav-item head">
                <a href="{% url 'adds' %}" class="nav-link btn">My Ad
                </a>
            </li>
            <li class="col-md-3 col-6 nav-item head">
                <a href="{% url 'editad' %}" class="nav-link btn"><i class="fa-solid fa-caret-right"style="font-size:20px;"></i> &nbsp;&nbsp;&nbsp;&nbsp;Edit Ad
                </a>
            </li>
            <li class="col-md-3 col-6 nav-item head">
                <a href="{% url 'delete_ad' %}" class="nav-link btn">Delete Ad
                </a>
            </li>
            <li class="col-md-3">
                <a href="{% url 'logout' %}" class="nav-link btn">Log Out</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class=" tab-pane container-fluid active tab" id="edit">
                <div id="form-messages"></div>
                <div class="col-md-10">
                    <form method="post" class="mu-contact-form dash-edit-form" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="reg_form-group">
                                <h3>Ad Name</h3>                
                                <input type="text" class=" form_input form-control" placeholder="Name" id="car_name" name="car_name" value="{{add.car_name}}" required>
                            </div>
                            <div class="reg_form-group">
                                <h3>Car Price</h3>                
                                <input type="text" class=" form_input form-control" placeholder="Car Price" id="price" name="price" value="{{add.price}}" required>
                            </div>
                            <div class="reg_form-group">   
                                <h3>Car Model</h3>             
                                <input type="email" class="form_input form-control" placeholder="Enter Email" id="car_model" name="car_model" value="{{add.car_model}}" readonly required>
                            </div>
                            <div class="reg_form-group">
                                <h3>Car Makers</h3>                
                                <input type="email" class="form_input form-control" placeholder="Enter Email" id="car_company" name="car_company" value="{{add.car_company}}" readonly required>
                            </div>
                            <div class="reg_form-group">
                                <h3>Registration Year</h3>
                                <input type="text" class="form_input form-control"  name="contact_number" id="reg_year" name="reg_year" value="{{add.registration_year}}" readonly required />
                            </div>
                            <div class="reg_form-group">
                                <h3>Body Type</h3>
                                {% if add.car_type == 1 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="Hatchback" readonly required />
                                {% elif add.car_type == 2 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="Sedan" readonly required />
                                {% elif add.car_type == 3 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="SUV" readonly required />
                                {% elif add.car_type == 4 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="MUV" readonly required />
                                {% elif add.car_type == 5 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="Coupe" readonly required />
                                {% elif add.car_type == 6 %}
                                <input type="text" class=" form_input form-control" placeholder="Body Type" value="Convertible" readonly required />
                                {% endif %}                
                            </div>
                            <div class="reg_form-group"> 
                                <h3>Fuel Type</h3>               
                                <input type="text" class="form_input form-control" placeholder="Name" value="{{add.fuel_type}}" required readonly>
                            </div>                                               
                            <div class="reg_form-group">
                                <h3>Kilometers</h3>
                                <input type="text" class="form_input form-control" placeholder="Kilometers" pattern="[0-9]{10}" value="{{add.kilometers}}" readonly required />
                            </div>             
                            <div class="reg_form-group">
                                <h3>Main Car Pic</h3>
                                <input type="file" class="form_input form-control" name="main_pic" id="main_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Front Side Pic</h3>
                                <input type="file" class="form_input form-control" name="front_pic" id="front_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Back Side Pic</h3>
                                <input type="file" class="form_input form-control" name="back_pic" id="back_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Left Side Pic</h3>
                                <input type="file" class="form_input form-control" name="left_pic" id="left_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Right Side Pic</h3>
                                <input type="file" class="form_input form-control" name="right_pic" id="right_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Interior Pic</h3>
                                <input type="file" class="form_input form-control" name="int_pic" id="int_pic">
                            </div>
                            <div class="reg_form-group">
                                <h3>Car Details</h3>
                                <textarea class="form_input form-control" placeholder="Car Detail" id="car_detail" name="car_detail" style="width: 900px;" >{{add.car_discription}}</textarea>
                            </div>
                        </div>
                        <button type="submit" name="update_profile" class="btn btn--green form-control m-5" style="width:43%" ><span>Save </span></button>
                        <button type="reset"  class="btn btn--green form-control m-5" style="width:43%"><span>Reset</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}