{% extends "headfoot.html" %}
{% load static %}
{% block content %}
{% if status %}
<script>
    alert('{{status}}')
</script>
{% endif %}
{% if error %}
<script>
    alert('{{error}}');
</script>
{% endif %}  
    <section>
        <div class="container_fluid">
               <div class="regform_title">
                   <span style="color: rgb(28, 240, 28);">Register</span> <span>yourself with us!!!</span>
               </div>
            
            <div class="">
                <div class="regform col-md-8 p-5">
                    <form action="" class="p-4" method="POST">
                        {% csrf_token %}
                        <label for="" class="text-center"><img src="../images/mycar1.png" alt="" class="form_img"></label>
                        <div class="row">
                            <div class="reg_form-group">
                                <input type="text" name="fname" class="form_input form-control" placeholder="First Name" id="name" required>
                                <label for="name" class="form_label ">First Name</label>
                            </div>
                            <div class="reg_form-group">
                                <input type="text" name="lname" class="form_input form-control" placeholder="Last Name" id="Name" required>
                                <label for="pass" class="form_label">Last Name</label>
                            </div>
                            <div class="reg_form-group">
                                <input type="email" name="email" class="form_input form-control" placeholder="E-mail" 
                                title="Email sholud be in abc@gmail.com format" id="eml" onekeyup="check_email()" required>
                                <label for="pass" class="form_label">E-mail</label><span for="pass" class='form_label' id='msz'></span>
                            </div>
                            <div class="reg_form-group">
                                <input type="tel" name="number" size="10" class="form_input form-control" pattern="[0-9]{10}" placeholder="Mobile Number" id="" required>
                                <label for="pass" class="form_label">Mobile Number</label>
                            </div>
                            <div class="reg_form-group">
                                <label for="" class="form_label">Gender</label>
                                <div class="form_radio">
                                    <label for="sex-male" class="radio_form-label">
                                        <input type="radio" class="radio_input" name="radio" id="sex-male" value="Male">
                                        Male                                        
                                        <span class="custom-radio-button"></span>
                                    </label>
                                </div>
                                <div class="form_radio">
                                    <label for="sex-female" class="radio_form-label">
                                        <input type="radio" class="radio_input" name="radio" id="sex-female" value="Female">
                                        Female
                                        <span class="custom-radio-button"></span>
                                    </label>
                                </div>
                                <div class="form_radio">
                                    <label for="sex-other" class="radio_form-label">
                                        <input type="radio" class="radio_input" name="radio" id="sex-other" value="Other">
                                        Other
                                        <span class="custom-radio-button"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="reg_form-group">
                                <label for="date" class="form_label">Date Of Birth</label>
                                <input type="date" name="dob" class="form_input form-control" placeholder="Password" id="" required>
                            </div>
                            <div class="reg_form-group">
                                <input type="password" name="pass" class="form_input form-control" placeholder="Password" id="pass" required>
                                <label for="pass" class="form_label">Password</label>
                            </div>
                            <div class="reg_form-group">
                                <input type="password" class="form_input form-control" placeholder="Confirm Password" id="pass" required>
                                <label for="pass" class="form_label">Confirm Password</label>
                            </div>
                        </div>
                        <div class="reg_form-group" style="margin: auto;">
                            <button type="submit" class="btn btn--green form-control" id="signup">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
<script>
    function check_email(){
        var eml = document.getElementById('eml').value;
        $.ajax({
            url : '{% url "check_user_exist" %}',
            type : 'get',
            data : {usern:eml},
            success:function(data){
                if (data.status==0){
                    $("#signup").attr('disabled',false);
                    $('#msz').html("<span></span>").css({'background':'none'});
                }
                else{
                    $("#signup").attr('disabled',true);
                    $('#msz').html("<span>"+data.message+"</span>").css({'background':'red'});
                }
            }
        })
    }
</script>
{% endblock%}